@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    :root {
        --color-bg: 0 0 0;
        --color-pen: 0 43 89;
        /* hex: #002B59 */
        --color-line-light: 146 146 146 / 0.15;
        /* hex: #929292 */
        --color-line-dark: 146 146 146 / 0.3;
        /* hex: #929292 */
        /* ... */
        @apply text-pen-color;
    }

    body {
        background-color: #140100;
        background-image: url("/wood-pattern.jpg");
        /* Grabbed from https://turnip.exchange/ <3 */
    }
}

@layer components {
    .graph-paper {
        background-color: rgb(var(--bg-color));
        background-image:
            conic-gradient(at calc(100% - 1px) calc(100% - 1px), rgb(var(--color-line-light)) 270deg, #0000 0);
        background-size: 23px 23px;
        /* controls the grid box size, 18px is approx 5mm */
    }

    /* .tape class adapted from https://codepen.io/hunab/pen/DoNVPa */
    .tape {
        background-color: hsla(0, 0%, 100%, .2);
        box-shadow: inset 0 0 1em .5em hsla(0, 0%, 100%, .1);
        width: 5em;
        height: 3em;
        position: absolute;
        filter: drop-shadow(0 1px 1px hsla(0, 0%, 0%, .6));
        -webkit-filter: drop-shadow(0 1px 1px hsla(0, 0%, 0%, .6));
    }

    .tape:after,
    .tape:before {
        background-size: .4em .4em;
        bottom: 0;
        content: '';
        position: absolute;
        top: 0;
        width: .2em;
    }

    .tape:after {
        background-image: linear-gradient(45deg, transparent 50%, hsla(0, 0%, 100%, .3) 50%),
            linear-gradient(-45deg, transparent 50%, hsla(0, 0%, 100%, .3) 50%);
        background-position: 0 100%;
        left: -.2em;
    }

    .tape:before {
        background-image: linear-gradient(135deg, transparent 50%, hsla(0, 0%, 100%, .3) 50%),
            linear-gradient(-135deg, transparent 50%, hsla(0, 0%, 100%, .3) 50%);
        background-position: 100% 100%;
        right: -.2em;
    }
}